/* .card1{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;

    background-color: #f7f7f7;
    border:1px solid gray;

  } */

  .card1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px; /* Set a fixed width */
    height: 450px; /* Set a fixed height */
    background-color: #f7f7f7;
    border: 1px solid gray;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  .card-img-top {
    width: 100%;
    /* height: auto; Ensure the image scales proportionally */
     height: 200px; /*Set a max height for the image */
    object-fit: cover; /* Ensure the image covers the area */
    border: 1px solid transparent;
   
    scale: -10px;
  }
  
  /* .container {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  .card-btn:hover {
    /* margin-top: auto; Push the button to the bottom */
    text-decoration: underline;
    width: 100%;
    color: #C10000;
    
  }
  