:root {
    --light-gray: #f7f7f7;
    --black: #000;
  }
  
  .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    height: 100vh;
    font-size: 24px;
    /* margin: 20px 0; */
  }
  
  .first-contact-container {
    background-color: rgba(249, 60, 60, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 20px;
    text-align: center;
    color: #fff;
  }
  
  .second-contact-container {
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
  }
  
  .first-contact-container h2,
  .first-contact-container h3,
  .first-contact-container p {
    padding: 10px;
  }
  
  .first-contact-container a {
    color: #fff;
    text-decoration: underline;
  }
  
  #main-form .social-separator {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    height: auto;
    background-color: var(--light-gray);
    border: 1px solid var(--black);
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px; /* Add margin for spacing */
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100% ; /* Adjusted width for better layout */
    border-radius: 10px;
    padding: 10px;
  }
  
  label {
    color: var(--black);
    font-size: 20px;
    margin-bottom: 5px; /* Add margin for spacing */
  }
  .col-md-6{
    width: 100% !important;
  }
  .form-check {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px; /* Add margin for spacing */
  }
  
  .form-check input {
    text-align: start;
    width: 1em;
    margin-right: 5px; /* Adjusted margin for better spacing */
  }
  
  @media screen and (max-width: 576px) {
    .contact-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;
    }
  
    .first-contact-container,
    .second-contact-container {
      width: 100%;
      padding: 20px 0;
    }
  
    form {
      width: 100%;
    }
  
    .contact-container {
      font-size: 18px; /* Adjust font size for smaller screens */
    }
  }
  