.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 20px;
    background-color: #EEEEEE;
}

.first-footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    flex-grow: fill;
    width: 100%;

}
.second-footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.footer-title{
    font-size: 20px;
}
.social-separator{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 25px;
    height: 5px;
    background-color: red ;
    
}

.social-icons{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    justify-content: flex-start;
}
.social-icons li{
    padding: 5px;
}
.footer-links a{
    color: black;
    
}
.footer-links a:hover{
    color: rgba(249, 60, 60, 0.9) !important;
    text-decoration: underline !important;
}
.footer-text{
    text-align: center;
    color: #5c6873;
    font-family: "Din Pro", sans-serif;
    padding: 0px ;
    margin: 0px ;
    font-weight: 300;
}
div ul {
    padding-left: 0 !important;
}
svg{
    width: 16px;
    height: 16px;
  
  }
  svg:hover{
    fill: #C10000;
  }
@media screen and (max-width:576px) {
    .first-footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .first-footer-container div{
        margin: 10px auto;
    }
    
    .first-footer-container div{
        text-align: center;
    }


    
}
