.hero-img-container{
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    justify-content: center;
    align-items: center;
    
    
} 
.hero-img{
    margin-top: 25px;
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    /* background-color: red; */
    overflow: hidden;

    
    
}