.products-container{
    --min:30ch;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
    align-items: center;
    justify-items: center;
    margin: 0;
    background-color: #f7f7f7;
    gap: 1rem;
    padding: 20px;
}
.products-title{

}
.img-element{
    width: 100%;
    display:block;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px 0px;
    transition: transform .2s ease;
    
    }
    .img-element:hover { 
        
        transform: scale(1.1);
      
        
        }
        .img-element a{
            width: 100%;
           
            
}

.card-title{
font-size: 24px;
color: #000 !important;
font-weight: 900 !important;
}

.card-title:hover{
    color: var(--brown) !important;
}

.img-container{
    width: 250px;
    border-radius: 10px;

    overflow: hidden;

}