.products-container{
    --min: 30ch;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
    align-items: center;
    justify-items: center;
    margin: 0;
    background-color: #f7f7f7;
    gap: 1rem;
    padding: 20px;
}

.img-element{
    width: 250px;
    display:block;
    object-fit: cover;
}

.img-element a{
    width: 250px;
}