@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');
:root{
  --light-red:rgba(249, 60, 60, 0.9);
  --brown:#7D4D38;
  --light-gray: #f7f7f7;
  --dark-gray:#7f8c97;
  --black:#000;
}
* {
  /* --bs-link-color-rgb: #7D4D38; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sedan", serif !important;
  
}
/* *, ::before, ::after{
  box-sizing: border-box;
} */
svg{
  width: 16px;
  height: 16px;

}
svg:hover{
  fill: #C10000;
}
body{
  background: #FFF;

}
.grid {
  --min:30ch;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
  align-items: center;
  justify-items: center;
  margin: 0;
  background-color: #f7f7f7;
  
  gap: 1rem;
  padding: 20px;
}
.main-container{
  background-color: #f7f7f7;

}
h1,h4,
a{
  color: var(--brown) !important;
  text-decoration: none !important;
}
ul{
  list-style-type: none !important;
  
}


.btn{
  padding: 12px 32px ;
  font-size: 1rem;
  text-transform: uppercase;
  background:transparent;
  color: var(--light-red);
  border: 1px solid var(--light-red);
  border-radius: 10px;
  font-weight: 600;
  cursor:pointer;
}

.btn-light{
background: transparent;
color: #fff;

}

.btn:hover{
  background: var(--light-red);
  color: var(--light-gray);
  transition: 0.3s;
}
/* @media  (min-width: 1400px) {
  .container {
    max-width: 1370px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    margin: 0 auto;
  }
}
  
@media  (min-width: 992px) {

  .container {
    max-width: 970px;
    margin: 0 auto;

  }
}

@media  (min-width: 768px) {

  .container {
    max-width: 750px;
    margin: 0 auto;

  }
  
}
@media (min-width: 576px) {

  .container {
    max-width: 550px;
    margin: 0 auto;

  }
  
}

   */
